@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    border: 0;
}

body{
    background: linear-gradient(180deg, #FFFFFF 30.32%, #F5F5F5 100%);
    background-repeat: no-repeat;
    width: 100%;
    height: inherit;
}

section {
    width: 100%;
    height: inherit;
}

#top-bar{
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 5.5rem;
}

#texto{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    padding-bottom: 1.4rem;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
}

#searchPkmn{
    width: 1088px;
    height: 53px;
    border-radius: 14px;
    background-color: #F2F2F2;
    box-shadow: 3px 2px 5px 2px black;
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
}

#searchPkmn::placeholder{
    color: #212121ab;
    text-align: center;
}

#pkmnTitle{
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 700;
}

